

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(45deg, green, blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: device-width;
    /* height: 100%; */
    padding: 5rem;
}

.form {
    background-color: aliceblue;
    /* text-align: center; */
    width: 80%;
    height: 80%;
    padding: 10%;
}

h1 {
    text-align: center;
}

#error_mes {
    color: red;
    padding-left: 10%;
}

.text {
    height: 3rem;
    width: 80%;
}

.floor1 {
    width: 100%;
}

.floor1 p {
    width: 40%;
}

.floor1 #room1 {
    float: left;
    padding-left: 10%;
}

.floor1 #room2{
    float:right;
    padding-right: 10%;
}

.floor2 {
    width: 100%;
}

.floor2 p {
    padding-left: 10%;
}

.btnz {
    width: 100%;
    text-align: center;
}

.btn {
    background-image: linear-gradient(45deg, blue,green);
    text-align: center;
    width: 6rem;
    height: 3rem;
    border-radius: 0.7rem;
    color: aliceblue;
}

.btn:hover {
    background-image: linear-gradient(45deg,green,blue);
}

@media(max-width: 500px)
{

}